---
interface Props {
  type: string;
  picture?: string;
  title: string;
  startDate?: string;
  description?: string;
  links: { name: string; href: string }[];
}

const { links, title, picture, startDate, description, type } = Astro.props;
---

<div class="group block shadow-around">
  <div class="relative overflow-hidden bg-cover bg-center bg-no-repeat">
    <img class="h-full w-full object-cover transition duration-100 ease-in-out group-hover:scale-110" src={picture} alt="Card Picture" />
  </div>
  <div class="grid grid-cols-1 gap-4 bg-slate-50 p-2 dark:bg-slate-900">
    <div class="text-secondary flex text-xs">
      <div class="grow uppercase">
        {startDate ? new Date(startDate).toLocaleDateString('en-US', { day: '2-digit', month: 'long', year: 'numeric' }) : ''}
      </div>
      <div class="">
        #{type}
      </div>
    </div>
    <h5 class="text-lg">{title}</h5>
    {
      description && (
        <div class="text-secondary text-sm">
          <span set:html={description} />
        </div>
      )
    }

    <div class="flex items-center justify-around border-t border-t-slate-200 dark:border-t-slate-800">
      {
        links.map(({ name, href }) => (
          <a href={href} class="link-primary pt-2 uppercase" target="_blank">
            {name}
          </a>
        ))
      }
    </div>
  </div>
</div>
